In [2]:
#importind libraries
import pandas as pd
import numpy as np

In [6]:
#Creating a series(Series is like a column in a table.)
s=pd.Series([1, 3, 5, np.nan, 4, 9])

In [7]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    4.0
5    9.0
dtype: float64

In [10]:
#creating a data frame(DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.)
dates=pd.date_range("20200101",periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
#np.random.randn()-creates an array of specified shape and fills it with random values as per standard normal distribution.

In [13]:
df

                   A         B         C         D
2020-01-01  1.386242 -1.581360  0.086197  0.821143
2020-01-02 -0.767172  0.346069 -0.284654 -0.547518
2020-01-03  0.321842  1.427842  0.220811  0.566500
2020-01-04 -0.542629 -0.291595  2.396286  0.164827
2020-01-05 -1.189915 -0.040999  1.149613  1.701690
2020-01-06  0.954887 -0.972922  0.405619 -1.106184

In [16]:
df2 = pd.DataFrame({"A": 1.0,
            "B": pd.Timestamp("20130102"),
            "C": pd.Series(1, index=list(range(4)), dtype="float32"),
            "D": np.array([3] * 4, dtype="int32"),
            "E": pd.Categorical(["test", "train", "test", "train"]),
            "F": "foo",})

In [17]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo